<% if logged_in? %>
  <h1><%= t "activity_timeline" %></h1>

  <div class="row">
    <%= render "shared/feed" %>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1><%= t "center_jumbotron.welcome" %></h1>
    <%= link_to t("center_jumbotron.signup"), signup_path,
      class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
