<% provide :title, t("login.title") %>
<h1><%= t "login.h1" %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for :session, url: login_path do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.submit t("btn.login"), class: "btn btn-primary" %>
    <% end %>

    <p><%= t "btn.new_user" %> <%= link_to t("btn.signup"), signup_path %></p>
  </div>
</div>
