<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("header.logo"), admin_root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("header.home"), admin_root_path %></li>
        <% if logged_in? %>
          <li><%= link_to t("header.books"), admin_books_path %></li>
          <li><%= link_to t("header.users"), admin_users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.name %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t("login.profile"), "#" %></li>
              <li><%= link_to t("login.setting"), "#" %></li>
              <li>
                <%= link_to t("login.logout"), logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t("login.login"), login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
