<% provide :title, t("signup.title") %>
<h1><%= t "signup.h1" %></h1>

<div class = "row">
  <div class = "col-md-6 col-md-offset-3">
    <%= form_for @user do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :phone_number %>
      <%= f.text_field :phone_number, class: "form-control" %>

      <%= f.label :gender %>
      <%= f.select :gender, options_for_select(@genders.map{|key, value|
        [t("user.gender.#{key}"), key]}), class: "form-control" %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :password_confirmation, t("signup.password_confirmation") %>
      <%= f.password_field :password_confirmation, class: "form-control" %>

      <%= f.submit t("btn.signup"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
