 <tr>
  <th><%= request.name %></th>
  <th><%= request.author %></th>
  <th><%= request.publish_date %></th>
  <th><%= request.description %></th>
  <th><%= request.req_status %></th>
  <th><%= link_to t("user.btn_cancel_request"), request, method: :delete,
    data: {confirm: t("confirm.cancel_request")}, class: "btn" %></th>
</tr>
