<% provide :title, t("user.new_request") %>
<h1><%= t "user.new_request" %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @request do |f| %>
      <%= render "shared/error_messages", object: @request %>
      <%= f.label :book_name %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :author %>
      <%= f.text_field :author, class: "form-control" %>

      <%= f.label :publish_date %>
      <%= f.date_field :publish_date, class: "form-control" %>

      <%= f.label :description %>
      <%= f.text_field :description, class: "form-control" %>

      <%= f.submit t("user.btn_request"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
