<% provide :title, t("books.title") %>
<h1><%= t "books.h1" %></h1>

<div class="search">
  <%= render "search_form" %>
</div>

<div class="row books" >
  <%= render @books if @books.any? %>
</div>

<div class="row text-center">
  <%= will_paginate %>
</div>
