<%= form_for [:admin, @category] do |f| %>
  <%= render "shared/error_messages", object: @category %>
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label :description %>
  <%= f.text_field :description, class: "form-control" %>

  <%= f.submit t("btn.submit"), class: "btn btn-primary" %>
<% end %>
