<% provide :title, t("admin_method.edit_category") %>
<h1><%= t "admin_method.edit_category" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "category_form" %>
  </div>
</div>
