<h1><%= t "requets.title" %></h1>
<div class="row">
  <div class="col-md-6 text-center">
    <span><%= t "requests.name" %></span>
    <span><%= @request.name %></span><br>
    <span><%= t "book.author" %></span>
    <span><%= @request.author %></span><br>
    <span><%= t "book.publish_date" %></span>
    <span><%= @request.publish_date %></span><br>
    <span><%= t "request.description" %></span>
    <span><%= @request.description %></span><br>
    <span><%= t "request.status" %></span>
    <span><%= @request.req_status %></span><br>
  </div>
  <div class="col-md-6 col-sm-4">
    <%= form_for [:admin, @request] do |f| %>
      <%= f.label :req_status %>
      <%= f.select :req_status, options_for_select(@request_statuses),
        class: "form-control" %><br>
      <%= f.submit t("btn.submit"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
