@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
  background: #f7f4b7;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: black;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */


footer {
  bottom: 0px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* show book */

.abook {
  margin-bottom: 40px;
}

.abox {
  margin: 0px;
}

/* slidebar */

gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users .follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

.relation {
  float: left;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* activities */

.activities {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 0em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-bottom: 10px;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* show book */
.abox {
  margin-top: 50px;
}

.abox h4 {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 20px;
}

.abox .btn-radio {
  float: left;
}

.abox .product-img {
  margin: 0px auto
}

.abox .row {
  margin: 0px ;
}

.abox .radio {
  margin-top: 20px;
}

.abox #btn-favorite {
  margin-top: -8px;
}

.abox .radio label, .checkbox label {
  padding-left: 0px;
}

.abox .radio input[type="radio"],
.abox .radio-inline input[type="radio"],
.abox .checkbox input[type="checkbox"],
.abox .checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: 0px;
  margin-top: 4px \9;
}

.image-book {
  margin-top: 20px;
}

.unfavorite {
  background-color: #ccc;
  border-color: #ccc;
}

.field {
  height: 200px;
}

/* filter */

.filter {
  margin-left: 10%;
}

.field-label {
  float: left;
  margin-left: 15px;
}

.field-text {
  float: left;
  width: 25%;
  margin-left: 10px;
}

.field-button {
  float: left;
  width: 8%;
  margin-left: 10px;
}

.field-filter {
  float: left;
  width: 8%;
  margin-left: 10px;
}

/* activities */

.activities {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

.reviews {
  list-style: none;
  .timestamp {
    color: $gray-light;
    display: block;
    margin-bottom: 10px;
  }
}
