<% provide :title, t("review.edit") %>
<h1><%= t "review.edit" %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @review do |f| %>
      <%= render "shared/error_messages", object: @review %>

      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>

      <%= f.label :content %>
      <%= f.text_area :content, class: "field" %>

      <%= f.submit t("btn.update"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
