<% provide :title, t("review.new") %>
<h1><%= @review.title %></h1>

<div class="row">
  <aside class="col-md-4">
    <section class="img-book">
      <%= link_to image_tag(@review.book.picture, alt: @review.book.title),
        @review.book, size: Settings.picture_size, class: "img-responsive" %>
      <b><%= @review.book.title %></b>
    </section>
  </aside>
  <div class="col-md-8">
    <%= simple_format @review.content %>
  </div>
  <%= link_to t("btn.edit"), edit_review_path, class: "btn btn-primary" %>
  <%= link_to t("btn.delete"), @review, method: :delete,
    data: {confirm: t("confirm.delete_review")}, class: "btn btn-primary" %>
</div>
